header {
  width: 100%;
  z-index: 9999;

  &.header {
    position: absolute;
    top: 0;
    left: 0;

    .logo {
      padding: 32px 0px;
    }

    .main-menu {
      ul {
        line-height: 1;
        > li {
          display: inline-block;
          line-height: 1;

          > a {
            display: inline-block;
            font-size: 16px;
            text-transform: capitalize;
            line-height: 1;
            padding: 25px 20px;
            overflow: hidden;

            i {
              margin-left: 5px;
            }
          }

          &:hover {
            > a {
              color: $theme-dark;
            }

            > ul {
              opacity: 1;
              visibility: visible;
              transform: translateY(0);
            }
          }

          > ul {
            position: absolute;
            top: 100%;
            width: 230px;
            background-color: $theme-dark;
            left: 0;
            z-index: 999;
            box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);
            visibility: hidden;
            opacity: 0;
            transform: translateY(40px);
            transition: all 0.5s ease-in-out;
            padding: 10px 0px;

            li {
              display: block;
              a {
                display: block;
                color: #000;
                padding: 12px 25px;

                &:hover {
                  color: #fff;
                }
              }
            }

            ul {
              left: 100%;
              top: 0;
            }
          }
        }
      }
    }

    .theme-btn {
      @media (max-width: 1199px) {
        padding: 17px 32px;
        font-size: 12px;
      }
    }

    #hamburger {
      @media (max-width: 991px) {
        color: $theme-color;
      }
    }
  }

  .logo {
    a {
      display: block;
    }
  }
}

.lan-select {
  font-weight: 500;
  float: right;

  select {
    border: 0px;
    background: transparent;
    color: #211e3b;
    cursor: pointer;
    font-size: 16px;

    @media (max-width: 991px) {
      color: #fff;
    }

    option {
      color: #211e3b;
      border: 0px;
    }
  }
}

.top-bar {
  padding: 0px 25px;
  background: $second-color;
  position: relative;
  overflow: hidden;

  &.style-3 {
    padding: 13px 0px;
    display: block;

    @media (min-width: 1600px) {
      .container {
        max-width: 1445px;
      }
    }
  }

  .contact-data {
    ul {
      li {
        font-size: 14px;
        line-height: 1;

        i {
          color: #fff;
          margin-right: 5px;
        }

        color: #8f9aba;
        display: inline-block;
        margin-right: 35px;
      }
    }
  }

  .social_link {
    a {
      color: #8d98ba;
      display: inline-block;
      margin-right: 20px;
      font-size: 14px;
      line-height: 1;

      &:hover {
        color: #fff;
      }
    }
  }

  .lan-select-menu {
    padding: 16px 30px;
    display: inline-block;
    position: relative;

    &::before {
      position: absolute;
      width: 200%;
      height: 100%;
      content: '';
      background: $second-color-dark;
      top: 0;
      left: 0;
    }

    form {
      font-size: 14px;

      select {
        color: #fff;
        border: 0px;
        background: transparent;

        option {
          color: $white;
          background: $second-color-dark;
          border: 0px;
        }
      }
    }
  }
}

.page-banner-wrap {
  background-color: #211e3b;
  padding-bottom: 160px;
  padding-top: 140px;
  position: relative;
  z-index: 1;
  background-position: 450px;

  @media (max-width: 1400px) {
    padding-top: 100px;
    padding-bottom: 80px;
    background-position: 0;
  }

  @media (max-width: 767px) {
    padding-top: 100px;
    padding-bottom: 40px;
  }

  &::before {
    position: absolute;
    left: 0;
    content: '';
    top: 0;
    background: #211e3b;
    // background: linear-gradient(
    //   288deg,
    //   rgba(155, 154, 167, 1) 0%,
    //   rgba(33, 30, 59, 1) 100%
    // );
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
  }

  .banner-text {
    position: absolute;
    top: 70%;
    transform: translateY(-50%) rotate(-90deg) translateX(23%);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
    font-size: 120px;
    font-family: $heading-font;
    font-weight: 900;
    letter-spacing: -0.03em;
    left: 110px;
    z-index: 2;
    opacity: 0.15;
    text-transform: uppercase;

    @media (max-width: 1199px) {
      display: none;
    }
  }

  h1 {
    font-size: 80px;
    text-transform: capitalize;

    @media (max-width: 1199px) {
      font-size: 60px;
    }

    @media (max-width: 767px) {
      font-size: 40px;
    }
  }

  .breadcrumb {
    margin-top: 30px;
    background: transparent;
    padding: 0;

    @media (max-width: 1199px) {
      margin-top: 10px;
    }

    @media (max-width: 767px) {
      float: left;
    }

    li {
      display: flex;
      align-items: center;
      color: #fff;
      font-weight: 400;
      font-size: 20px;
      line-height: 1;
      text-transform: capitalize;

      @media (max-width: 767px) {
        font-size: 14px !important;
      }

      a {
        color: #fff;
        font-size: 20px;
        font-weight: 400 !important;
        line-height: 1;

        @media (max-width: 767px) {
          font-size: 14px;
        }

        &:hover {
          color: $theme-color;
        }
      }
    }

    li + li {
      &::before {
        color: #c5c2c2;
        content: '\f105';
        font-family: $fa;
        font-weight: 400;
      }
    }
  }
}

.mobile-nav {
  position: fixed;
  right: -380px;
  top: 0;
  width: 320px;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
  transition: right 0.5s ease-in;
  background-color: $theme-color;
  padding: 20px;
  z-index: 9999;
  box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);

  &.show {
    right: 0px;
  }

  .close-nav {
    border: 0;
    background: transparent;
    color: #fff;
    border-radius: 30px;
    font-size: 20px;
    position: absolute;
    left: 20px;
    top: 10px;
  }

  /* Vertical Menu Style */
  .sidebar-nav {
    margin-top: 30px;
  }
  .sidebar-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: transparent;
  }
  .sidebar-nav .metismenu {
    display: flex;
    flex-direction: column;
  }
  .sidebar-nav .metismenu > li {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .sidebar-nav .metismenu a {
    position: relative;
    display: block;
    padding: 10px 15px;
    transition: all 0.3s ease-out;
    text-decoration: none;
    color: #fff;
    outline-width: 0;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .sidebar-nav .metismenu ul a {
    padding: 10px 15px 10px 35px;
    position: relative;

    &:hover {
      padding-left: 40px;
      &::before {
        background-color: #fff;
      }
    }

    &::before {
      position: absolute;
      left: 15px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 2px solid #fff;
      content: '';
      top: 50%;
      transition: all 0.3s ease-in-out;
      transform: translateY(-50%);
    }
  }
  .sidebar-nav .metismenu ul ul {
    list-style-type: circle !important;
  }
  .sidebar-nav .metismenu ul ul a {
    padding: 10px 15px 10px 45px;
  }
  .sidebar-nav .metismenu a:hover,
  .sidebar-nav .metismenu a:focus,
  .sidebar-nav .metismenu a:active {
    text-decoration: none;
    color: #f8f9fa;
    background: $theme-color;
  }
}

#hamburger {
  color: #fff;
  font-size: 36px;
  line-height: 1;
  text-align: right;
  display: none;

  i {
    cursor: pointer;
  }

  @media (max-width: 1199px) {
    display: block;
  }
}

.action-bar {
  margin-top: 30px;
  padding-left: 20px;
  a {
    color: #fff;
    display: block;
    margin-top: 12px;

    i {
      margin-right: 10px;
    }

    &.theme-btn {
      text-align: center;
    }
  }
}

/* ---------------------------------
    Offset Canvas Menu Style 
------------------------------------*/
.offset-menu {
  position: fixed;
  height: 100vh;
  top: 0;
  z-index: 9999999;
  opacity: 0;
  visibility: hidden;
  right: -30%;
  transition: all 0.5s ease-in-out;
  background-color: $second-color;
  box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);

  &.show {
    opacity: 1;
    visibility: visible;
    right: 0;
  }

  .offset-menu-wrapper {
    width: 360px;
    padding: 80px 30px;
  }

  .theme-btn {
    padding: 20px 45px;
    font-weight: 500;
    margin-top: 40px;
  }

  .offset-menu-section {
    h3,
    h4,
    h5 {
      line-height: 1;
      margin-bottom: 20px;
    }

    margin-top: 40px;

    a {
      margin-bottom: 10px;
    }

    ul {
      li {
        span {
          margin-right: 10px;
        }
        margin-bottom: 5px;
      }
    }
  }

  #offset-menu-close-btn {
    position: fixed;
    right: 30px;
    font-size: 28px;
    transform: rotate(45deg);
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    z-index: 9;
    top: 20px;

    &:hover {
      color: $theme-color-2;
    }
  }

  .offset-menu-footer {
    margin-top: 35px;
  }

  .offset-menu-social-icon {
    a {
      font-size: 16px;
      background: $second-color;
      display: inline-block;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      margin-right: 5px;

      &:hover {
        background: $theme-color;
      }
    }
  }

  img {
    display: inline-block;
    background: #fff;
    padding: 10px 20px;
  }
}

.header-gutter {
  top: 145px;
  min-height: 145px;

  @media (max-width: 1199px) {
    top: 82px;
    min-height: 82px;
  }

  @media (max-width: 1191px) {
    top: 76px;
    min-height: 76px;
  }

  @media (max-width: 575px) {
    top: 71px;
    min-height: 71px;
  }

  @media (max-width: 500px) {
    top: 70px;
    min-height: 70px;
  }
}
